

<ion-content padding>
	<ion-slides pager style="height:100%">

	  <ion-slide class="slide_image"> 
	  <div>
		<img src="/assets/images/slide1.png"/>
		<h2>Slide 1</h2>
		<p> Um teste no IONIC <strong>Saiba mais </strong> </p>
	   </div>
	  </ion-slide>

	  <ion-slide class="slide_image">
		<div>
		<img src="/assets/images/slide2.png"/>
		<h2>Slide 2</h2>
		</div>
	  </ion-slide>

	  <ion-slide class="slide_image">
		<div>
		<img src="/assets/images/slide3.png"/>
		<h2>Slide 3</h2>
		<ion-button (click) =goToTabs() > Avançar</ion-button>
		
		</div>
	  </ion-slide>

	</ion-slides>

</ion-content>
